*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.jc-sb{
    justify-content: space-between;
}

.a-item-cent{
    align-items: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.btn{
    padding: 10px;
    border-radius: 20px;
}

.btn-big{
    padding: 10px 20px;
    border-radius: 20px;
}

.tx-cent{
    text-align: center;
}

.space-bot{
    padding: 20px 0px;
}

.container-w-80{
    width: 80%;
    margin: 0 auto;
}

.w-100{
    width: 100%;
}

.text-bigger{
    padding: 30px 0px;
    font-size: 40px;
}

.text-medium{
    font-size: 20px;
}

/* HEADER */
header{
    background-color: #0284fd;
    color: white;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.hamburger{
    font-size: 25px;
}

.navigation{
    display: none;
}

.btn-header{
    background: white;
    color: black;
}
/* HEADER */

/* SECTION-APP */
.app{
    margin-top: 150px;
}

.container-app{
    width: 80%;
    margin: 0 auto;
}

.card-app{
    background-color: #b5ddff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.p-text{
    color: #5a6e7f;
    margin-bottom: 35px;
}

.title-text{
    color: #0284fd;
    padding: 20px 0px;
}


#store{
    padding: 10px 50px;
    background: #0284fd;
    border-radius: 20px;
}

.phone-img>img{
    width: 100%;
    position: relative;
    bottom: -35px;
}

.phone-img{
    margin-top: 20px;
    text-align: center;
}

.symbol{
    font-size: 80px;
    color: #0284fd;
}
/* SECTION-APP */

/* SECTION-STRATEGIC */
.strategic{
    background-color: #9792e4;
    margin-top: 20px;
    padding: 30px;
}

.container-w-80{
    width: 80%;
    margin: 0 auto;
}

.plan-whi{
    color: white;
}

.space-bot-bigger{
    padding: 40px 0px;
}

.card-develop{
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#arrow-dev{
    padding: 15px;
    background: #9792e4;
    border-radius: 30px;
    color: black;
}
/* SECTION-STRATEGIC */

/* SECTION-TESTIMONIAL */
.tx-cent>h1.text-bigger{
    color: #9792e4;
}

.tx-cent>h2.space-bot{
    font-weight: 400;
}

.tx-cent>p.space-bot{
    font-size: 20px;
}

.container-w-100.tx-cent{
    background-color: #9792e4;
    padding: 20px 10px;
    border-radius: 40px;
    color: white;
    margin-bottom: 30px;
}

.testimonial-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}



/* RESPONSIVE */

/* TABLET */
@media all and (min-width: 768px){
    /* SECTION-APP */
    .flex.wrap{
        column-gap: 15px;
        justify-content: space-between;
    }
    .card-app.big{
        width: 65%;
    }
    .card-app{
        width: 30%;
    }
    /* SECTION-APP */

    /* SECTION-TESTIMONIAL */
    .container-w-100.tx-cent.testimonial{
        display: flex;
    }
    /* SECTION-TESTIMONIAL */
}


/* LAPTOP */
@media all and (min-width: 992px){
    /* HEADER */
    .container-header{
        width: 70%;
        margin: 0 auto;
    }
    .navigation{
       display: block; 
    }
    .hamburger{
        display: none;
    }
    /* HEADER */

    /* SECTION-APP */
    .card-app.big{
        display: flex;
        width: 66%;
    }
    .card-app{
        width: 32%;
    }
    .phone-img{
        width: 50%;
        align-self: flex-end;
    }
    .phone-img>img{
        width: 250px;
    }
    /* SECTION-APP */

    /* SECTION-STRATEGIC */
    .strategic>.container-w-80{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    .planning{
        width: 40%;
        padding: 30px 0px;
    }
    .card-develop{
        width: 35%;
        align-self: end;
    }
    .card-develop>.w-100{
        width: 80%;
    }
    /* SECTION-STRATEGIC */

    /* SECTION-TESTIMONIAL */
    .testimonial-img{
        margin-right: 20px;
    }
    .container-w-100.tx-cent.testimonial{
        width: 80%;
        margin: 30px auto;
    }
    .container-w-100.tx-cent{
        text-align: start;
    }
}