*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}

.a-item-cent{
    align-items: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.btn{
    padding: 10px;
    border-radius: 20px;
}

.btn-big{
    padding: 10px 20px;
    border-radius: 20px;
}

.title-text{
    color: #0284fd;
    padding: 20px 0px;
}

.p-text{
    color: #5a6e7f;
    margin-bottom: 35px;
}

.tx-cent{
    text-align: center;
}

/* HEADER */
header{
    background-color: #0284fd;
    color: white;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.hamburger{
    font-size: 25px;
}

.navigation{
    display: none;
}

.btn-header{
    background: white;
    color: black;
}
/* HEADER */

/* SECTION-APP */
.app{
    margin-top: 150px;
}

.container-app{
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-app{
    width: 100%;
    background-color: #b5ddff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#store{
    padding: 10px 50px;
    background: #0284fd;
    border-radius: 20px;
}

.phone-img>img{
    width: 300px;
    position: relative;
    bottom: -35px;
}

.phone-img{
    margin-top: 20px;
    text-align: center;
}

.symbol{
    font-size: 80px;
    color: #0284fd;
}

/* RESPONSIVE */
@media all and (min-width: 768px){

}

@media all and (min-width: 992px){
    .container-header{
        width: 70%;
        margin: 0 auto;
    }
    .navigation{
       display: block; 
    }
    .hamburger{
        display: none;
    }
}